@use 'base.scss' as *;
@use 'components.scss' as *;
.back-img {
    background-image: linear-gradient( to right bottom, rgba($tobacco-light, 0.9), rgba($tobacco-dark, 0.9)), url(../images/computer.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.language-dropdown-button {
    outline: none;
    .languages-button {
        padding: 0.5rem 2rem;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $ebony;
        letter-spacing: 0.1rem;
        margin-top: 4rem;
        @media only screen and (max-width: 1040px) {
            display: none;
        }
    }
    .czech {
        @include languages;
    }
}

.lang-mobile {
    margin: 3rem;
    font-size: 1.2rem;
    &-l {
        margin: 1rem;
        color: $color-blue;
        @media only screen and (max-width: 600px) {
            font-size: 1.2rem;
        }
        @media only screen and (max-width: 1040px) {
            font-size: 1.6rem;
        }
    }
    @media only screen and (min-width: 1040px) {
        display: none;
    }
}

.introduction {
    height: 80vh;
    @media only screen and (max-width: 600px) {
        height: 30vh;
    }
    @media only screen and (min-width: 600px) and (max-width: 1024px) {
        height: 40vh;
    }
    .introduction-h1 {
        color: black;
        font-size: 6rem;
        letter-spacing: 0.5rem;
        @media only screen and (max-width: 600px) {
            font-size: 3rem;
            letter-spacing: 0.1rem;
        }
        @media only screen and (min-width: 600px) and (max-width: 1024px) {
            font-size: 5rem;
            letter-spacing: 0.2rem;
        }
    }
    .hello {
        @include headerStyles;
    }
    .my-name {
        @include headerStyles;
        .anastasia {
            @include headerWords;
        }
    }
    .icreate {
        @include headerStyles;
        .websites {
            @include headerWords;
        }
    }
    .button-learn {
        padding: 1rem 4rem;
        font-size: 2rem;
        @include button;
        color: $white;
        @media only screen and (max-width: 1040px) {
            display: none;
        }
    }
    .button-learn:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        background-color: $dark-red;
        color: $white;
    }
    .button-learn:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        background-color: $dark-red;
        color: $white;
    }
}

.navigation {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
    padding-top: 2rem;
    @media only screen and (max-width: 600px) {
        font-size: 1.5rem;
        letter-spacing: 0.08rem;
        justify-content: center;
    }
    @media only screen and (min-width: 600px) and (max-width: 1024px) {
        font-size: 2.2rem;
        letter-spacing: 0.08rem;
    }
    .nav-item {
        padding: 0.5rem 4rem;
        @media only screen and (max-width: 600px) {
            padding: 0.5rem 1rem;
        }
        .nav-link {
            color: $section-red;
            &:hover {
                color: $color-blue;
                text-decoration-line: underline;
                text-underline-offset: 2rem;
            }
        }
    }
}

.picture-me {
    height: 20rem;
}

.about-me {
    margin-top: 6rem;
    margin-bottom: 6rem;
    .btn-cv {
        @include button;
    }
}

.about-me-section-h {
    margin-top: 10rem;
    margin-bottom: 6rem;
    @include headerSecondary;
}

.who-h {
    @include who;
}

.what-h {
    @include who;
}

.who-p {
    @include who-p;
    @media only screen and (max-width: 1024px) {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.what-p {
    @include who-p;
    @media only screen and (max-width: 1024px) {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.cv {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
    .cv-a {
        color: $color-blue;
        font-weight: bold;
        &:hover {
            text-decoration-line: underline;
            text-underline-offset: 1.5rem;
        }
    }
}

.contact-details {
    @media only screen and (min-width: 1024px) {
        margin-left: 12rem;
    }
}

.phone-mail {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.networks {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.callorsend {
    margin-top: 3rem;
    margin-left: 21rem;
}

.h-networks {
    margin-left: 18rem;
}

.leaveyourcontact {
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 2.5rem;
}

.contact-me {
    padding-bottom: 4rem;
    background-image: linear-gradient( to bottom, rgba($tobacco-light, 0.85), rgba($tobacco-dark, 0.85)), url(../images/contact-computer.jpg);
    background-repeat: no-repeat;
    background-size: 90% auto;
    background-position: center;
    @media only screen and (max-width: 1024px) {
        background-image: linear-gradient( to bottom, rgba($tobacco-light, 0.85), rgba($tobacco-dark, 0.85));
        background-size: 100% auto;
    }
    margin-top: 3rem;
    .contact {
        @include headerSecondary;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .call-find {
        font-size: 3rem;
        @media only screen and (max-width: 600px) {
            text-align: center;
        }
    }
    .phone-a {
        @include a-contacts;
        .phone-icon {
            color: $section-red;
        }
        .phone {
            @include iconSpanStyle;
        }
    }
    .insta-a {
        @include a-contacts;
        .insta-icon {
            color: $section-red;
        }
        .instagram {
            @include iconSpanStyle;
        }
    }
    .mail-a {
        @include a-contacts;
        .mail-icon {
            color: $section-red;
        }
        .mail {
            @include iconSpanStyle;
        }
    }
    .github-a {
        @include a-contacts;
        .github-icon {
            color: $section-red;
        }
        .github {
            @include iconSpanStyle;
        }
    }
    .linkedin-a {
        @include a-contacts;
        .linkedin-icon {
            color: $section-red;
        }
        .linkedin {
            @include iconSpanStyle;
        }
    }
    .col-icons {
        padding-top: 6rem;
        margin-left: 3rem;
    }
    .row-contact {
        padding-left: 20rem;
        padding-right: 20rem;
        height: 20vh;
    }
    .label {
        display: block;
        margin-top: 1rem;
        margin-bottom: 1rem;
        @media only screen and (max-width: 1024px) {
            text-align: center;
        }
    }
    .field {
        display: block;
        width: 80%;
        border: $ebony 0.8px;
        background-color: $tobacco-light;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        @media only screen and (max-width: 1024px) {
            width: 80%;
            margin: 0 auto;
        }
    }
    input[placeholder] {
        color: $ebony;
        font-size: 1.8rem;
    }
    #message {
        resize: none;
        font-size: 1.5rem;
    }
    .submit-button {
        background-color: $color-blue;
        padding: 0.8rem 2rem;
        font-size: 1.5rem;
        border-radius: 0.5rem;
        color: $white;
        margin-top: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-weight: bold;
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            background-color: $dark-blue;
            color: $white;
        }
        &:active {
            transform: translateY(-1px);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            background-color: $dark-blue;
            color: $white;
        }
    }
}

.copyright {
    color: $color-blue;
}

#mistakeFirstName {
    @include mistakes;
}

#mistakeSurname {
    @include mistakes;
}

#mistakeEmail {
    @include mistakes;
}

#mistakeMessage {
    @include mistakes;
}